html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #005bae;
}

header {
    border-bottom-style: solid;
}

h1 {
    font-size: 60px;
    text-align: center;
}

section {
    text-align: center;
}

button {
    background-color: #fff;
    border: 1px solid #005bae;
    border-radius: 4px;
    color: #005bae;
    cursor: pointer;
    padding: 15px 32px;
    position: relative;
    font-size: 16px;
    top: 0;
    transition: top ease 0.5s;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -10px;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    top: 0;
}