html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #005bae;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2,
p {
    text-align: center;
}

h2 {
    font-size: 45px;
}

span {
    border-bottom: 1px solid #005bae;
}

button {
    background-color: #fff;
    border: 1px solid #005bae;
    border-radius: 4px;
    color: #005bae;
    cursor: pointer;
    padding: 15px 32px;
    position: relative;
    font-size: 16px;
    top: 0;
    transition: top ease 0.5s;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -10px;
}

button:disabled {
    background-color: #ccc;
    box-shadow: 0 0;
    color: #666;
    cursor: not-allowed;
    top: 0;
}

.grid-container {
    display: grid;
    font-size: 35px;
    gap: 20px 55px;
    grid-template-columns: auto auto;
    grid-template-rows: 80px 70px;
}

.grid-item-1,
.grid-item-3 {
    text-align: right;
}

.grid-item-2,
.grid-item-4 {
    text-align: left;
}

.grid-item-3,
.grid-item-4,
#result {
    margin: 0;
}

#result,
#finalResult {
    font-size: 20px;
}

footer {
    align-items: center;
    background-color: #66023C;
    color: #807F03;
    display: flex;
    justify-content: center;
    margin-top: auto;
    min-height: 50px;
    width: 100%;
}